<mat-grid-list cols="3" rows="1" rowHeight="100px">
    <mat-grid-tile>
        <h1>
            Ingreso al sistema <span class="material-icons">login</span>
        </h1>
    </mat-grid-tile>

</mat-grid-list>
<mat-grid-list cols="5" rowHeight="300px">

    <mat-grid-tile></mat-grid-tile>

    <mat-grid-tile colspan="3">
        <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="login(ownerForm.value)" fxLayout="column wrap">
            <mat-card [class.mat-elevation-z2]="true">
            <mat-card-header>
                <mat-card-title>Ingreso al sistema</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                    <mat-form-field class="full-width">
                        <mat-label>Correo Electrónico (*)</mat-label>
                        <input type="email" matInput formControlName="correo">
                        <mat-error *ngIf="hasError('correo', 'required')">Correo es requerido</mat-error>
                        <mat-error *ngIf="hasError('correo', 'email')">Email errado</mat-error>
                    </mat-form-field>
                    <mat-form-field class="half-width">
                        <mat-label>Clave (*)</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput formControlName="clave">
                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="hasError('clave', 'required')">Clave es requerido</mat-error>
                    </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button  mat-raised-button color="primary" mat-button [disabled]="!ownerForm.valid">Ingresar</button>
                <a  mat-raised-button color="warn" mat-button [routerLink]="['/home']">Retornar</a>
                <button mat-button routerLink="/registrar">Registrar</button>
            </mat-card-actions>                
            </mat-card>
        </form>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>