form {
    min-width: 100px;
    width: 100%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 40%;
    margin-left:auto; 
    margin-right:0;
}

.medium-width {
    margin-right: 20px;
}

.rigth-width {
    width: 40%;
    float: right;
}


mat-card {
    width: 300px;
}

mat-card-header {
    font-size: small;
    margin: 0px;
}
mat-card-title {
    text-align: center;
    margin: 0px;
}

.mat-card-header-text {
    margin: 0px;
}

.box-alert {
    background-color: silver;
}

.check-margin {
    margin: 0 10px;
  }

  .month-picker .mat-calendar-period-button {
    pointer-events: none;
  }
  
  .month-picker .mat-calendar-arrow {
    display: none;
  }

