<h2 mat-dialog-title>Términos y Condiciones</h2>
<mat-dialog-content class="mat-typography">
<p>PrestaAlToke pone en relación a personas que buscan un préstamo con inversionistas interesados en prestar directamente su capital. </p>
<p>PrestaAlToke evalúa los perfiles de los empresarios, elabora el contrato de préstamo con garantía hipotecaria, 
realiza la gestión del préstamo y el seguimiento hasta el levantamiento de la hipoteca. </p>
<p>No canaliza los fondos ni realiza intermediación financiera. </p>
<p>Los contratos de préstamo son de 1 hasta 12 meses.
sin periodo mínimo de cancelación de acuerdo al Código del Consumidor (Ley N° 29571) y pueden ser renovados al final del periodo en la estructura de solo intereses. </p>
<p>Su Tasa Costo Efectivo Anual (TCEA) promedio es de 20%. La TCEA de PrestaAlToke incluye a la tasa de interés y todos los gastos vinculados al préstamo, 
incluso incluye al levantamiento de la hipoteca. A título de comparación, 
la tasa de interés anual (TEA, que no incluye los gastos) promedio del sistema financiero para créditos a la microempresa en Perú es de 45% (junio 2019).</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Aceptar</button>
</mat-dialog-actions>