<mat-toolbar color="primary">  
<h1>  
	PRESTA AL TOKE - Prestamo al Toke!  
</h1>  
<span class="fill-space"></span>
<button mat-button routerLink="/">Inicio</button>  
<button *ngIf="!currentUser" mat-button routerLink="/login">Login</button>
<button *ngIf="currentUser" mat-button (click)="logout()">Logout</button>
<button *ngIf="!currentUser" mat-button >No logeado</button>
<button *ngIf="currentUser" mat-button >Bienvenido {{currentUser.nombres}}</button>
<button mat-button routerLink="/about">Créditos</button>
</mat-toolbar>
<router-outlet></router-outlet>
