h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: green;
    text-align: center;
    font-style: italic;
}

span {
    color: blue;
}

mat-card-content ul {
    color: green;
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #10a310;
}

.botons_vertical {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.boton_vertical {
    width:180px; 
    margin-bottom: 10px;
}