<section>
<h1>
    Página del Administrador del Sistema
</h1>
<mat-grid-list cols="3" rows="3" rowHeight="200px">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="botons_vertical">
            <a mat-raised-button color="accent" class="boton_vertical" [routerLink]="['/desembolso']"> Desembolsar Préstamo </a>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
</mat-grid-list>
</section>