<form layout>
    <h1>
        Préstamos al toque. Obtén tu dinero en tan sólo 45 minutos
    </h1>
    <mat-grid-list cols="3" rows="3" rowHeight="200px">
        <mat-grid-tile>
            <mat-form-field appearance="fill">
            <mat-label>Seleccione el monto:</mat-label>
            <mat-select [(ngModel)]="selectedMonto" name="monto">
                <mat-option *ngFor="let monto of montos" [value]="monto.monto">
                s/. {{monto.monto}}
                </mat-option>
            </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field appearance="fill">
            <mat-label>Escoge numero de cuotas:</mat-label>
            <mat-select [(ngModel)]="selectedCuota" name="cuota">
                <mat-option *ngFor="let cuota of cuotas" [value]="cuota.cuota">
                {{cuota.cuota}} cuotas
                </mat-option>
            </mat-select>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <a mat-raised-button color="warn" style="width:170px; margin-bottom: 10px;" [routerLink]="['/solicitar']" [queryParams]="{monto: selectedMonto, cuotas: selectedCuota}" > Click Aquí, solicitalo!!!</a>
                <button mat-raised-button color="primary" style="width:170px; margin-bottom: 10px;" (click)="calcular()"> Calculadora </button>
            </div>
        </mat-grid-tile>

        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-spinner *ngIf="cuotas.length === 0"></mat-spinner>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Total a pagar: {{itemstotal | number:'1.2-2'}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <!-- <div style="display: flex; flex-direction: column; align-items: left;">
                        <span *ngFor="let item of itemscalc"> {{item.num}}) {{item.cuota | number:'1.2-2'}}</span>
                    </div> -->
                    <ul>
                        <li *ngFor="let item of itemscalc"> Cuota {{item.num}}) {{item.cuota | number:'1.2-2'}} </li>
                    </ul>
                </mat-card-content>
            </mat-card>
            
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile>
            <h2>Prestamos al toque a tu alcance</h2>
        </mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
</form>