form {
    padding-top: 10px;
    background-image: url("/assets/img/prestamo2b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: green;
    text-align: center;
    font-style: italic;
}

span {
    color: blue;
}

mat-card-content ul {
    color: green;
}
